<%- include("../includes/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card my-4">
                <div class="card-header bg-primary text-center"><h3 class="text-light">ACCOUNT LIST</h3></div>
                <div class="card-body">
                    <table class="table table-info table-hover">
                        <tr>
                            <th>S.No.</th>
                            <th>G-Mail</th>
                            <th>FULL DETAIL</th>
                        </tr>
                        <% account.forEach((value, index)=>{ %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= value.gmail %></td>
                                <td><a class="btn btn-outline-info btn-sm" href="/account/view/<%= value.number %>">View</a></td>
                            
                            </tr>
                        <% }) %>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("../includes/testimonial") %>
<%- include("../includes/footer") %>