<%- include("../includes/header") %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="card my-4">
                <div class="card-header bg-primary"><h3 class="text-light" style="display: inline;">WELCOME  <span class="text-warning"><%= account.name %></span></h3>
                    <h3 style="display: inline; float: right;" class="text-right"><a href="/account/delete/<%= account._id %>" class="btn btn-danger">DELETE ACCOUNT</a></h3>
                    </div>
                <div class="card-body">
                    <table class="table table-info table-hover">
                        <tr>
                            <th>GMAIL</th>
                            <td><%= account.gmail %></td>
                        </tr>
                        <tr>
                            <th>CONTACT NUMBER</th>
                            <td><%= account.number %></td>
                        </tr>
                        <tr>
                            <th>SALARY</th>
                            <td><%= data.salary %></td>
                        </tr>
                        <tr>
                            <th>FULL NAME</th>
                            <td><%= data.fullname %></td>
                        </tr>
                        <tr>
                            <th>CLASS</th>
                            <td><%= data.class %></td>
                        </tr>
                        <tr>
                            <th>EDUCATION</th>
                            <td><%= data.education %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("../includes/testimonial") %>
<%- include("../includes/footer") %>