<%- include("../includes/header") %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-center bg-primary"><h3 class="text-light">LOGIN</h3></div>
                <div class="card-body">
                    <% if (typeof status !== 'undefined' && status !== null){ %>
                        <input type="hidden" id="status" value="<%= status %>" />
                        <% if(status == 200 && typeof token !== 'undefined'){ %>
                            <input type="hidden" id="token" value="<%= token %>" />
                        <% } %>
                    <% } %>
                    <form action="/account/authentication/signup" method="post">
                        <div class="my-3">
                            <label>GMAIL ID</label>
                            <input type="text" name="gmail" value="<%= account.gmail %>" class="form-control" placeholder="Create User Name" />
                        </div>
                        <div class="my-3">
                            <label>PASSWORD</label>
                            <input type="password" name="password"  class="form-control" placeholder="Enter Password" />
                        </div>
                        <div class="card-footer">
                            <input type="submit" id="checkBtn2" value="LOGIN" class="btn btn-outline-info" />
                            <input type="button" id="checkBtn" style="display: none;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include("../includes/testimonial") %>
<%- include("../includes/footer") %>

<script>

// Script For Modal Starts-----
    let clk = document.getElementById('checkBtn')
    clk.addEventListener( 'click', (event)=>{
        localStorage.setItem('modal', true);
        clk.click();
    })
    let clk2 = document.getElementById('checkBtn2')
    clk2.addEventListener( 'click', (event)=>{
        localStorage.setItem('modal', true);
        clk2.click();
    })
// Script For Modal Ends-----

// Script For Authorisation Process Starts----
    window.addEventListener( 'DOMContentLoaded', (event)=>{
        const statusElement = document.getElementById('status');
        const tokenElement = document.getElementById('token');
        if( statusElement && tokenElement ){
            const status = parseInt(statusElement.value);
            const token = tokenElement.value;
            if( status == 200 ){
                localStorage.setItem('token', token);
            }
        }
        if( tokenElement ){
            localStorage.setItem('token', tokenElement.value);
        }
    } )
// Script For Authorisation Process Starts----
</script>
