<%- include("../includes/blackheader") %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form action="/teacher/update/<%= update.id %>" method="post">
            <div class="card my-4">
                <div class="card-header bg-primary text-center"><h3 class="text-light">Update Teacher's Data</h3></div>
                <div class="card-body">
                    <div class="my-3">
                    <label>YOUR ID</label>
                    <input type="text" name="id" class="form-control" value="<%= update.id %>" placeholder="Enter Your ID" />
                    </div>
                    <div class="my-3">
                    <label>Full Name</label>
                    <input type="text" name="fullname" value="<%= update.fullname %>" class="form-control" placeholder="Enter Your Name" />
                    </div>
                    <div class="my-3">
                    <label>Salary</label>
                    <input type="number" name="salary" value="<%= update.salary %>" class="form-control" placeholder="Enter Salary" />
                    </div>
                    <div class="my-3">
                    <label>Class</label>
                    <select name="class" class="form-control">
                        <option>SELECT</option>
                        <% for(var i = 1 ; i<=12 ; ++i){ %>
                        <option><%= i %></option>
                        <% } %>
                    </select>
                    </div>
                    <div class="my-3">
                    <label>Education</label>
                    <input type="text" name="education" value="<%= update.education %>" class="form-control" placeholder="Enter Your Education" />
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-outline-primary form-control"  value="UPDATE DATA" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<%- include("../includes/testimonial") %>
<%- include("../includes/footer") %>