<%- include("../includes/header.ejs") %>

<div class="container" style="min-height: 600px;">
    <div class="row">
      <div class="col-md-8 offset-md-2">
<table class="table table-dark table-stripped table-bordered">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Position</th>
    </tr>

    
    <!-- <% data.forEach((value , index)=>{ %>
       
        <tr>
            <td><%= value.name %></td>
            <td><%= value.age %></td>
            <td><%= value.gender %></td>
            <td><%= value.position %></td>
           
        </tr>


    <& }) %> -->
</table>
</div>
    </div>
</div>


