<%- include("../includes/header.ejs") %>
<%- include("../includes/bgimg.ejs") %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="my-3">
            <h2>menu edit page</h2>
            <form action="/menu/update/<%= data._id %>" method="post">
                <div class="container" id="header">
                <div class="row" >
                <div class="col-md-6 offset-md-3" >
                        <div class="my-3">
                        
                            <div class="row">
                                <div class="container col-md-6 offset-md-3">
                                    <div class="my-3">
                                        <label for="">Name</label>
                                        <input name="dish" value="<%= data.dish %>" type="text" class="form-controll"/>
                                    </div>
                                    <div class="my-3">
                                        <label for="">Ingredients</label>
                                        <input name="ingredients" value="<%= data.ingredients %>" type="text" class="form-controll"/>
                                    </div>
                                    <div class="my-3">
                                        <label for="">Price</label>
                                        <input name="price" value="<%= data.price %>" type="number" class="form-controll"/>
                                    </div>
                                    <br>
                                    <input type="submit" value="Update" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                </form>    