<%- include("../includes/header") %>

<div class="container py-3 my-5" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card ">
                <div class="card-header text-center"><h3 class="text-light">PATIENT DETAILS</h3></div>
                <div class="card-body">
                    <table class="table table-info table-hover table-stripped">
                        <tr>
                            <th>S.no.</th>
                            <th>NAME</th>
                            <th>CONTACT</th>
                            <th>VIEW DATA</th>
                            <th>EDIT DATA</th>
                            <th>DELETE DATA</th>
                        </tr>
                        <% patient.forEach((value, index)=>{ %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= value.name %></td>
                                <td><%= value.contact %></td>
                                <td><a href="/patients/view/<%= value._id %>" class="btn btn-info">VIEW</a></td>
                                <td><a href="/patients/update/<%= value._id %>" class="btn btn-warning">UPDATE</a></td>
                                <td><a href="/patients/delete/<%= value._id %>" class="btn btn-danger">DELETE</a></td>
                            </tr>
                        <% }) %>
                    </table>
            </div>
        </div>
    </div>
</div>


