<%- include("../includes/header") %>

<div class="container my-5">
    <dv class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header bg-primary text-center"><h3 class="text-light">HEYY... <%= patient.name %></h3></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                        <th>NAME</th>
                            <th><%= patient.name %></th>
                        </tr>
                        <tr>
                        <th>CONTACT NUMBER</th>
                            <th><%= patient.contact %></th>
                        </tr>
                        <tr>
                        <th>AGE</th>
                            <th><%= patient.age %></th>
                        </tr>
                        <tr>
                        <th>GENDER</th>
                            <th><%= patient.gender %></th>
                        </tr>
                        <tr>
                        <th>ADDRESS</th>
                            <th><%= patient.address %></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </dv>
</div>


<%- include("../includes/footer") %>