<%- include("../includes/header") %>

<div class="container my-5">
    <dv class="row">
        <div class="col-md-10 offset-md-1">
            <form action="/patients/update/add/<%= patient._id %>" method="post">
            <div class="card">
                <div class="card-header bg-primary text-center"><h3 class="text-light">UPDATE PATIENT DATA</h3></div>
                <div class="card-body">
                    <div class="my-3">
                        <label>NAME</label>
                        <input type="text" name="name" value="<%= patient.name %>" class="form-control" />
                    </div>
                    <div class="my-3">
                        <label>CONTACT</label>
                        <input type="number" name="contact" value="<%= patient.contact %>" class="form-control" />
                    </div>
                    <div class="my-3">
                        <label>AGE</label>
                        <input type="number" name="AGE" value="<%= patient.age %>" class="form-control" />
                    </div>
                </div>
                <div class="card-footer bg-primary">
                    <input type="submit" class="btn btn-info form-control" value="UPDATE" />
                </div>
            </div>
            </form>
        </div>
    </dv>
</div>


<%- include("../includes/footer") %>