<%- include("../includes/header") %>
<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-6 offset-md-3 my-4">
            <h3 class="text-center">Teacher Information</h3>
            <table class="table table-info">
                <tr>
                    <td>Full Name</td>
                    <Td><%= data.fullname %></Td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <Td><%= data.salary %></Td>
                </tr>
                <tr>
                    <td>Class</td>
                    <Td><%= data.class %></Td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <Td><%= data.gender %></Td>
                </tr>
                <tr>
                    <td>Education</td>
                    <Td><%= data.education %></Td>
                </tr>
                
            </table>
        </div>
    </div>
</div>
<%- include("../includes/footer") %>